* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Fraunces", serif;
}

body {
    width: 100%;
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url('./images/desktop/image-header.jpg');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    gap: 3em;
    height: 900px;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
}

nav .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.have-bg {
    background-color: white;
    color: black;
    padding: 15px 30px;
    font-size: 25px;
    border-radius: 20px;
}

.have-bg:hover {
    background-color: rgb(255, 255, 255);
}

.hero {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4.5em;
    align-items: center;
    margin-top: 150px;
}

.hero h1 {
    font-size: 55px;
    font-weight: 700;
    color: white;
    letter-spacing: .5em;
}

.hero img {
    height: 200px;
}

section {
    width: 100%;
    height: 600px;
    margin: 0;
    display: flex;
}

.left {
    width: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left .text {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
}

.left h3 {
    font-size: 35px;
}

.left p {
    font-size: 20px;
    width: 500px;
}

.left button {
    border: none;
    background-color: transparent;
    padding: 10px 0 0 0;
    font-size: 20px;
    border-bottom: 8px solid hsl(51, 100%, 49%);
    cursor: pointer;
    text-transform: uppercase;
}

.left button:hover {
    padding-bottom: -5px;
}

.right {
    width: 50%;
    background-color: hsl(51, 100%, 49%);
    background-image: url("./images/desktop/image-transform.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.left2 {
    width: 50%;
    background-color: hsl(7, 99%, 70%);
    background-image: url('./images/desktop/image-stand-out.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.right2 {
    width: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right2 .text {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
}

.right2 p {
    font-size: 20px;
    width: 500px;
}

.right2 h3 {
    font-size: 35px;
}

.right2 button {
    border: none;
    background-color: transparent;
    padding: 10px 0 0 0;
    font-size: 20px;
    border-bottom: 8px solid hsl(7, 99%, 70%);
    text-transform: uppercase;
}

.right button:hover {
    padding-bottom: -5px;
}

.left3 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: repeat;
    object-fit: cover;
    background-position: center;
    background-image: url("./images/desktop/image-graphic-design.jpg");
}

.left3 .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
    margin-top: 300px;
}

.left3 .text {
    color: hsl(167, 40%, 24%);
}

.left3 .text h3 {
    font-size: 28px;
}

.left3 .text p {
    width: 400px;
}

.right3 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(195, 72%, 53%);
    background-image: url("./images/desktop/image-photography.jpg");
    background-repeat: repeat;
    object-fit: cover;
    background-position: center;
}

.right3 .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
    margin-top: 300px;
    color:  hsl(198, 62%, 26%);
}

.right3 .text {
    color: hsl(167, 40%, 24%);
}

.right3 .text h3 {
    font-size: 28px;
}

.right3 .text p {
    width: 400px;
}

.normal {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.test {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5em;
}

.test h3 {
    text-transform: uppercase;
    color: hsl(232, 10%, 55%);
    font-size: 30px;
}

.test .cards {
    display: flex;
    gap: 1.5em;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.card p {
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    color: hsl(232, 10%, 55%);
}

.card img {
    border-radius: 50%;
    object-fit: cover;
    height: 100px;
}

.card .auth {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card .name {
    font-weight: 700;
    font-size: 30px;
    color: black;
}

.card .title {
    color: hsl(213, 9%, 39%);
}

.footer-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

.gallery {
    width: 100%;
    display: flex;
}

.gallery img {
    width: 25%;
}

footer {
    background-color: hsl(168, 34%, 41%);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3em;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

footer .nav-links {
    display: flex;
    gap: 3em;
}

footer .nav-links a {
    color: hsl(167, 40%, 24%);
    font-size: 20px;
    font-weight: 500;
}

footer .nav-links a:hover {
    color: white;
}

.logo img {
    color: hsl(167, 40%, 24%);
    height: 50px;
}

.social-icons {
    display: flex;
    gap: 1em;
}

.social-icons img {
    height: 30px;
}

.social-icons img:hover {
    color: white;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}


@media screen and (max-width: 420px) {
    body {
        overflow-x: hidden;
    }

    header {
        background-image: url("./images/mobile/image-header.jpg");
        object-fit: contain;
        background-position: center;
    }

    .hero {
        gap: 7.5em;
    }

    .hero h1 {
        font-size: 32px;
        text-align: center;
    }

    .hero img {
        height: 150px;
    }

    section {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 2.5em;
        width: 100%;
        height: 1000px;
    }

    section .left {
        width: 90%;
        height: 40%;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    section .left  .text {
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    section .left  .text h3 {
        text-align: center;
    }

    section .left  .text p {
        text-align: center;
        width: 100%;
        font-size: 18px;
    }

    section .right {
        width: 100%;
        height: 60%;
    }

    section .right {
        background-image: url("./images/mobile/image-transform.jpg");
        background-repeat: no-repeat;
    }

    

    section .left3 {
        width: 100%;
        height: 50%;
        justify-content: center;
        align-items: center;
    }

    section .left3  .text {
        justify-content: center;
        align-items: center;
    }

    section .left3  .text h3 {
        text-align: center;
    }

    section .left3  .text p {
        text-align: center;
        width: 90%;
        font-size: 18px;
    }

    section .right3 {
        width: 100%;
        height: 50%;
    }

    section .right3 {
        background-image: url("./images/mobile/image-photography.jpg");
        background-repeat: no-repeat;
    }

    section .right3  .text p {
        text-align: center;
        width: 90%;
        font-size: 18px;
    }
}