* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/desktop/image-header.jpg');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

nav .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.have-bg {
    background-color: white;
    color: black;
    padding: 20px 30px;
    font-size: 25px;
    border-radius: 25px;
}

.hero {
    width: 80%;
}